@import url('https://fonts.googleapis.com/css?family=Exo|Abel|Jura');

body {
  background-image: url("images/redheir.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #E4EFF0;
  margin-top: 5px;
}
.topnav {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.topnav a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display:inline-block;
  font-family:"Jura";
}

.topnav a:hover {
  color: black;
  text-decoration:none;
}

.topnav a.active {
  color: black;
}
.topnav li{
  display:inline;
}

.side-list {
    display: inline;
    float:left;
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family:"Abel";
 }
.nav-li {
  float: left;
  list-style-type: none;
  display:inline-block;
}
.social li {
  color:white;
}
.navbar {
  color: white;
  text-decoration: none;
  position:fixed;
  top: 0;
  width: 100%;
  overflow:hidden;
}
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: transparent;
  font-size: 20;
  color:#358F97;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
.fa-facebook {
	background:#3b5998
}
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.google-plus {
	background:#dd4b39
}
.fa-github {
	background:#333
}
ul li a i {
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 60px;
	font-size: 50px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}
ul li a i:hover {
  color: #fff;
  opacity: .7;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
}
.social {
  color:#145A61;
  display:inline-block;
  padding:0px;
  text-align:center;
}
.center {
  text-align:center;
}
.right {
  text-align:right;
}
.title-font {
  font-size:50px;
  text-align:center;
  margin-left:10px;
  margin-top:2px;
  font-family:"Jura";
}
.summary {
  font-size:20px;
  font-family:"Jura";
}
.regular {
  font-size:18px;
  text-align:left;

  font-family:"Jura";
}
.sub-title {
  font-size:25px;
  text-align:center;
  color:white;
}
.main-div {
  background-color:white;
  color:black;
  margin:auto;
  margin-top:1px;
  border:1px solid gray;
  border-radius:8px;
}
.size {
  width:35%;
  height:35%;
  overflow:hidden;
  margin-left:10px;
}
.size-3 {
  width:15%;
  height:15%;
  overflow:hidden;
  margin-right: 10px;
  }
.size-2 {
  width:250px;
  height:250px;
  overflow:hidden;
  margin-right: 10px;
}
.skills {
  display:block;
}
.same-font {
  font-family:"Jura"
}
h1.same-font {
  font-size:35px;
  text-decoration: underline;
}
h2.same-font {
  font-size:25px;
}
.project-summary {
  font-size:18px;
}
.contact-form {
  margin-top:5px;
  font-family:"Jura";
  font-size:20px;
}
.contact-btn {
  font-size:25px;
  font-family:"Jura";
  color:#358F97;
}
.contact-btn a:hover {
  font-size:25px;
  font-family:"Jura";
  text-decoration:none;


}
.contact-head {
  font-family:"Jura";
  color:white;
}


input[type="text"],input[type=email]
{
  margin-top:5px;
    background-color:#FCFBE3;
    border: 2px solid #FCFBE3;;
    border-radius: 4px;
    color: #358F97;
    font-family:"Abel";
}
input[type="submit"]{
  background-color:#FCFBE3;
  font-family:"Jura";
  color:#358F97;
  cursor:pointer;
  border: 2px solid #FCFBE3;
  border-radius:5px;
}
input[type="submit"]:hover{
  background-color:#358F97;
  border: 2px solid #358F97;
  border-radius:5px;
  color:#FCFBE3;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
textarea[type="message"] {
  margin-top:5px;
  background-color:#FCFBE3;
  border: 2px solid #FCFBE3;;
  border-radius: 4px;
  color: #358F97;
  font-family:"Abel";
}
::-webkit-input-placeholder { /* Chrome */
  color: #358F97;
}
}
::-moz-placeholder { /* Firefox 19+ */
  color: #358F97;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #358F97;
  opacity: 1;
}
/* The animation code */
@keyframes title-animation {
    from {color: transparent;}
    to {color: white;}
}

@keyframes title-animation-2 {
    from {color: transparent;}
    to {color: white;}
}
#hey {
  animation-name: title-animation;
  animation-duration: 4s;
  color: white;
}

#engineer {
  animation-name: title-animation-2;
  animation-duration: 6s;
}

.width-contact {
  width:300px;
}

.footer {
  background:white;
  align:center;
  width:40%;
  color:#358F97;
  margin-top:10px;
  border:2px solid #358F97;
  border-radius:10px;
  padding:1px;
  font-size:15px;
}

.link-modify {
  text-decoration:none;
  color:#358F97;
}

.link-modify:hover {
  text-decoration:none;
  font-size:19px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.project:hover {
  box-shadow: 3px 3px grey;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
.sub {
  font-size:13px;
}

.imagesize {
  width:400px;
  height:300px;
  overflow:hidden;
}